/*------------ Base Styling ----------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
}

body {
   background-color: #E0E0E0;
}

/*------------ Header Styling ----------- */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #1a252f;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 15px;
  z-index: 1000;
  gap: 15px;
}

header .dolp_icon { 
  width: 30px;
  height: 30px; 
}

header h1 {
  font-size: 16px; 
  font-weight: 400;       
  letter-spacing: 0.5px;
  font-size: 18px;
}

/*------------ Main Container Styling ----------- */
main {
  margin-left: 220px;
  padding: 100px 40px;
  z-index: 1;
}

/*------------ Sidebar Styling ----------- */
.sidebar {
  position: fixed;
  top: 50px;
  left: 0;
  width: 200px;
  height: calc(100vh - 50px);
  background-color: #ffffff;
  border-right: 1px solid #e5e7eb;
  
  padding: 40px 20px 20px 20px; 
  
  display: flex;
  flex-direction: column;
}

.sidebar .nav_item {
  display: flex; 
  align-items: center;
  gap: 10px;
  margin-bottom: 18px; /*Ensuring equal disance between Home, Contact, and Users */
}

.sidebar a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #374151;
  transition: color 0.2s ease;
  
  /*Highlight text only */
  width: fit-content; 
  display: block;
}

.sidebar a:hover {
  color: #4f46e5; 
}

.nav-icon { 
  width: 20px; 
  height: 20px; 
}

/* THE SEPARATOR & LOGOUT SPACING */
.sidebar .nav_item:last-child {
  display: flex; 
  align-items: center;
  gap: 10px;
  margin-top: 10px;    /* Gap between 'Users' and the line */
  padding-top: 20px;   /* Gap between the line and 'Logout' text */
  border-top: 1px solid #e5e7eb; /* Faint line between 'Users' and 'Logout'
  
  /* Ensuring the line spans the padding of the sidebar */
  width: auto; 
}

/*------------ Table Styling ----------- */
#head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#filterOp {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  gap: 15px;
  border-bottom: 1px solid #e5e7eb;
  z-index: 5;
}

#result { padding: 15px; }

.table_section {
  background-color: white;
  outline-style: solid;
  outline-color: #DBD9D9;
  padding: 15px;
}

.table {
  background-color: white;
  border-radius: 10px;
  border-collapse: seperate;
  border-spacing: 0;
}

.table th, .table td {
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #E0E0E0;
  padding: 10px 30px;
}

.table th {
  background-color: #E0E0E0;
}



