/*------------ Base Styling ----------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
}

body {
  background-color: #E0E0E0;
}

/*------------ Header Styling ----------- */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #1a252f;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 15px;
  z-index: 1000;
  gap: 15px;
}

header .dolp_icon { 
  width: 30px;
  height: 30px; 
}

header h1 {
  font-size: 16px; 
  font-weight: 400;       
  letter-spacing: 0.5px;
  font-size: 18px;
}


#form {
    display: flex;
    justify-content: center;
    margin: auto;
    font-family:"Varela Round", sans-serif;

}
input{
    padding: 15px;
    border-radius: 10px;
}

.input{
    padding: 20px;
}

#button{
    background-color: blueviolet;
    color: aliceblue;
    border: none;
    cursor: pointer;
    font-size: 1.5em;
    padding: 10px;
    width:100%;
}


main{
    align-items: center;
    min-height: 50vh;
    padding-top: 150px;


}

footer{
    display: flex;
    justify-content: center;
}
