header {
  height: 35px;
  color: white;
  background-color: #090930;
  font-size: 7px;
  padding: 5px;
}

#sidebar {
  display: flex;
  flex-direction: column;
  color: #090930;
  width: 20%;
}

#table {
  flex: 1;
}
  
