header {
  height: 35px;
  color: white;
  background-color: #090930;
  font-size: 7px;
  padding: 5px;
}

.container {
  display: flex;
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #090930;
  width: 200px;
  padding: 15px;
  max-height: 400px;
}

.table {
  flex: 1;
  padding: 15px;
}

.table th, .table td {
  padding: 10px 20px;
}

.t_header {
  display: flex;
  justify-content: space-between;
  align-iems: center;
  margin-bottom: 10px;
}
