/*------------ Base Styling ----------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
}

body {
  background-color: white;
}

/*------------ Header Styling ----------- */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #1a252f;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 15px;
  z-index: 1000;
  gap: 15px;
}

header .dolp_icon { 
  width: 30px;
  height: 30px; 
}

header h1 {
  font-size: 16px; 
  font-weight: 400;       
  letter-spacing: 0.5px;
  font-size: 18px;
}

/*------------ Main Container Styling ----------- */
.contact_page {
  margin-left: 220px;
  padding: 100px 40px;
}

/*------------ Sidebar Styling ----------- */
.sidebar {
  position: fixed;
  top: 50px;
  left: 0;
  width: 200px;
  height: calc(100vh - 50px);
  background-color: #ffffff;
  border-right: 1px solid #e5e7eb;
  
  padding: 40px 20px 20px 20px; 
  
  display: flex;
  flex-direction: column;
}

.sidebar .nav_item {
  display: flex; 
  align-items: center;
  gap: 10px;
  margin-bottom: 18px; /*Ensuring equal disance between Home, Contact, and Users */
}

.sidebar a{
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #374151;
  transition: color 0.2s ease;
  
  /*Highlight text only */
  width: fit-content; 
  display: block;
}

.sidebar a:hover {
  color: #4f46e5; 
}

.nav-icon { 
  width: 20px; 
  height: 20px; 
}

/* THE SEPARATOR & LOGOUT SPACING */
.sidebar .nav_item:last-child {
  display: flex; 
  align-items: center;
  gap: 10px;
  margin-top: 10px;    /* Gap between 'Users' and the line */
  padding-top: 20px;   /* Gap between the line and 'Logout' text */
  border-top: 1px solid #e5e7eb; /* Faint line between 'Users' and 'Logout'
  
  /* Ensuring the line spans the padding of the sidebar */
  width: auto; 
}

/*------------ Contact Details Styling ----------- */
.header_details {
  display: flex;
  padding: 10px;
  background-color: white;
  justify-content: space-between; 
  align-items: flex-start; 
}

.contact_info {
  display: flex; 
  flex-direction: column;
}

.other_details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  row-gap: 30px;
  background-color: white;
  outline-style: solid;
  outline-color: #DBD9D9;
  padding: 15px;
  border-radius: 10px;
  border-collapse: seperate;
  border-spacing: 0;
}

.detail_item { 
  display: flex; 
  flex-direction: column;  
} 

.detail_item label { 
  font-weight: bold; 
  margin-bottom: 5px; color: #555; 
} 

.top_row { 
  display: flex; 
  align-items: center;
}

/*------------ Note Details Styling ----------- */
.notes {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 5px; 
  background-color: white;
  outline-style: solid;
  outline-color: #DBD9D9;
  padding: 15px;
  border-radius: 10px;
  border-collapse: seperate;
  border-spacing: 0;
}

.notes h3 { 
  font-weight: bold; 
  margin-bottom: 5px; color: black; 
  border-bottom: 1px solid #e5e7eb;
} 

.note_item { 
  margin-bottom: 10px; color: #555;
}

.note_item div { 
  font-size: 15px
}

.note_item label { 
  margin-bottom: 5px; color: black;
  font-size: 15px
}

.notes .create_note {
  background-color: #E0E0E0;
  margin-top: 30px;
  margin-bottom: 15px;
  padding: 15px;
  border-radius: 10px;
  border-collapse: separate;
  border-spacing: 0;
}

.notes .note_section {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border-collapse: separate;
  border-spacing: 0;
  
}

.notes p {
  margin-bottom: 5px;
}

textarea {
  background-color: white;
  height: 150px;
  width: 100%;
  border: none;
}

/*------------ Button Styling ----------- */
buttons {
  display: flex;
  color: black;
  margin-left: 10px;
  gap: 10px; 
  align-items: center;
}

button:hover {
  background-color: #4a4cdb;
}

#assign {
  background-color: #27B04F;
  cursor: pointer;
  border: none;
  padding: 10px 25px;
  border-radius: 4px;
  font-weight: 600;
}

#switch {
  background-color: #DEE368;
  cursor: pointer;
  border: none;
  padding: 10px 25px;
  border-radius: 4px;
  font-weight: 600;
}

#submit {
  margin-top: 10px;
  background-color: #5d5fef;
  cursor: pointer;
  border: none;
  padding: 10px 25px;
  border-radius: 4px;
  font-weight: 600;
  align-items: right;
}
