/*Header Styling */
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  background-color: #1a252f;
  color: white;
  display: flex;
  align-items: center;
  padding-left: 50px;
  z-index: 1000;
}

header h1 {
  font-size: 16px; 
  font-weight: 400;       
  letter-spacing: 0.5px;
  font-size: 18px;
}

/* Main Container Styling */
.container {
  margin-left: 220px;
  padding: 100px 40px;
}


.sidebar {
  position: fixed;
  top: 50px;
  left: 0;
  width: 200px;
  height: calc(100vh - 50px);
  background-color: #ffffff;
  border-right: 1px solid #e5e7eb;
  
  padding: 40px 20px 20px 20px; 
  
  display: flex;
  flex-direction: column;
}

.sidebar a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #374151;
  margin-bottom: 18px; /*Ensuring equal disance between Home, Contact, and Users */
  transition: color 0.2s ease;
  
  /*Highlight text only */
  width: fit-content; 
  display: block;
}

.sidebar a:hover {
  color: #4f46e5; 
}

/* THE SEPARATOR & LOGOUT SPACING */
.sidebar a:last-child {
  margin-top: 10px;    /* Gap between 'Users' and the line */
  padding-top: 20px;   /* Gap between the line and 'Logout' text */
  border-top: 1px solid #e5e7eb; /* Faint line between 'Users' and 'Logout'
  
  /* Ensuring the line spans the padding of the sidebar */
  width: auto; 
  display: block;
}

.table {
  flex: 1;
  padding: 15px;
  background-color: #E0E0E0;
  height: 800px;
}

.users {
  background-color: white;
  outline-style: solid;
  outline-color: #DBD9D9;
  padding: 15px;
  border-radius: 10px;
  border-collapse: seperate;
  border-spacing: 0;
}

.table th, .table td {
  border: 1px solid #E0E0E0;
  padding: 10px 50px;
}

.table th {
  background-color: #E0E0E0;
}

.t_header {
  display: flex;
  justify-content: space-between;
  align-iems: center;
  margin-bottom: 10px;
}
