header {
  height: 35px;
  color: white;
  background-color: #090930;
  font-size: 7px;
  padding: 5px;
}

.container {
  display: flex;
}

.sidebar {
  flex-direction: column;
  color: #090930;
  width: 70px;
}

.table {
  flex: 1;
  padding: 15px;
}

.t_header {
  display: flex;
  justify-content: space-between;
  align-iems: center;
  margin-bottom: 10px;
}
